@mixin bg-image($path) {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  user-select: none;

  @include bg-img-webp($path, true);
}

.main {
  position: relative;
  height: vh(100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (orientation: landscape) {
    padding-top: to-rem(70);
    padding-bottom: vh(11);

    @include respond-above(medium) {
      padding-top: to-rem(100);
    }
  }
}

.main__cta-btn {
  --border-width: #{to-rem(3)};
  --border-radius: #{to-rem(14)};

  position: relative;
  z-index: var(--z-wheel-btn);
  height: to-rem(60);
  width: 100%;
  max-width: min(
    var(--wheel-size-portrait, var(--wheel-size-landscape)),
    to-rem(400)
  );
  flex-shrink: 0;
  transform: translateY(-30%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(180deg, #fedf00 0%, #ff7a00 100%);
  border-radius: var(--border-radius);
  box-shadow: 0 to-rem(16) to-rem(38) 0 rgba(var(--col-tibetan-yellow-rgb), 70%);
  font-size: to-rem(36);
  text-transform: uppercase;
  overflow: hidden;
  cursor: default;
  transition: box-shadow var(--hover-transition),
    transform var(--hover-transition);

  @include respond-above(medium) {
    --border-radius: #{to-rem(20)};
  }

  @media (orientation: landscape) {
    max-width: min(var(--wheel-size-landscape) * 0.7, to-rem(500));

    @include respond-above(medium) {
      height: vh(10);
      font-size: min(vh(7), to-rem(52));
    }
  }

  @media (orientation: portrait) {
    max-width: calc(var(--wheel-size-portrait) * 0.85);

    @include respond-above(tablet) {
      height: vh(6);
      font-size: min(vh(5), to-rem(44));
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: var(--border-width);
    left: var(--border-width);
    height: calc(100% - var(--border-width) * 2);
    width: calc(100% - var(--border-width) * 2);
    border-radius: var(--border-radius);
    z-index: var(--z-hidden);
    background-image: radial-gradient(
      54.57% 247.08% at 51% 0%,
      #bdff00 0%,
      #04bf00 50%,
      #007e0d 100%
    );
    box-shadow: to-rem(5) -#{to-rem(9)} to-rem(7) 0
      rgba(var(--col-total-black-rgb), 45%) inset;
  }

  @include hover {
    body:not(.wheel-stage-3) & {
      box-shadow: 0 to-rem(16) to-rem(46) 0
        rgba(var(--col-tibetan-yellow-rgb), 70%);
      cursor: pointer;
      transform: translateY(-30%) scale(1.1);
    }
  }
}

.main__cta-btn-content {
  filter: drop-shadow(
    0 to-rem(2.5) to-rem(2.5) rgba(var(--col-total-black-rgb), 35%)
  );
}

.main__bottom-decor {
  width: auto;
  aspect-ratio: 4.95;
  position: absolute;
  z-index: var(--z-bottom-decor);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;

  @include bg-image('/img/decor/bottom-decor');

  @media (orientation: portrait) {
    height: vh(18.5);
  }

  @media (orientation: landscape) {
    height: vh(23.4);
  }
}

.main__tiger-decor {
  --aspect-ratio: 0.843;

  position: absolute;
  z-index: var(--z-tiger-decor);
  aspect-ratio: var(--aspect-ratio);
  user-select: none;

  @include bg-image('/img/decor/tiger');

  @media (orientation: portrait) {
    right: 10%;
    bottom: 0;
    width: min(76vw, vh(64) * var(--aspect-ratio));
    transform: translateX(50%);
  }

  @media (orientation: landscape) {
    left: calc(50% + var(--wheel-size-landscape) / 2);
    bottom: 5%;
    width: min(35vw, vh(72) * var(--aspect-ratio));
    transform: translateX(-20%);
  }
}

.main__jewelry-decor {
  --aspect-ratio: 1;

  position: absolute;
  z-index: var(--z-common-decor);
  top: 50%;
  aspect-ratio: var(--aspect-ratio);

  @include bg-image('/img/decor/jewelry-decor');

  @media (orientation: portrait) {
    left: calc(50% - var(--wheel-size-portrait) / 3);
    width: min(24vw, var(--vh, 1vh) * 13 * var(--aspect-ratio));
    transform: translate(-85%, -100%);
  }

  @media (orientation: landscape) {
    left: calc(50% - var(--wheel-size-landscape) / 2);
    width: min(13.5vw, var(--vh, 1vh) * 24 * var(--aspect-ratio));
    transform: translate(-53%, -75%);
  }
}

.main__orange-decor {
  @media (orientation: landscape) {
    --aspect-ratio: 1;

    position: absolute;
    z-index: var(--z-common-decor);
    aspect-ratio: var(--aspect-ratio);
    top: calc(50% + var(--wheel-size-landscape) / 3);
    left: calc(50% - var(--wheel-size-landscape) / 3);
    width: min(16vw, vh(24) * var(--aspect-ratio));
    transform: translate(-55%, -45%);

    @include bg-image('/img/decor/orange-decor');
  }
}
